[package]
name = "rust_f_os"
version = "0.1.0"
authors = ["feng <1652314522@qq.com>"]
edition = "2018"

[profile.dev]
panic="abort"

[profile.release]
panic="abort"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
